Contents:

* <a href="#groupby">Group By</a>
* <a href="#concat">Concatenate Dataframes</a>
* <a href="#merge">Merge Dataframes</a>
* <a href="#index">loc vs iloc</a>

In [1]:
import pandas as pd

<a id="groupby"></a>
## Group By

In [2]:
df = pd.read_excel('./Datasets/weather_data_cities.xlsx')
print(df)

          day      city  temperature  windspeed   event
0  2017-01-01  new york           32          6    Rain
1  2017-01-02  new york           36          7   Sunny
2  2017-01-03  new york           28         12    Snow
3  2017-01-04  new york           33          7   Sunny
4  2017-01-01    mumbai           90          5   Sunny
5  2017-01-02    mumbai           85         12     Fog
6  2017-01-03    mumbai           87         15     Fog
7  2017-01-04    mumbai           92          5    Rain
8  2017-01-01     paris           45         20   Sunny
9  2017-01-02     paris           50         13  Cloudy
10 2017-01-03     paris           54          8  Cloudy
11 2017-01-04     paris           42         10  Cloudy

In [3]:
g = df.groupby('city')
print(type(g))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [4]:
for city, city_df in g:
    print(city)
    print(city_df)

mumbai
         day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
7 2017-01-04  mumbai           92          5   Rain
new york
         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny
paris
          day   city  temperature  windspeed   event
8  2017-01-01  paris           45         20   Sunny
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
11 2017-01-04  paris           42         10  Cloudy

In [5]:
for city, city_df in g:
    print(type(city))
    print(type(city_df))
    break

<class 'str'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
# to get specific group
print(g.get_group('paris'))

          day   city  temperature  windspeed   event
8  2017-01-01  paris           45         20   Sunny
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
11 2017-01-04  paris           42         10  Cloudy

In [7]:
#Find maximum temperature in each of the cities
print(g.max())

                day  temperature  windspeed  event
city
mumbai   2017-01-04           92         15  Sunny
new york 2017-01-04           36         12  Sunny
paris    2017-01-04           54         20  Sunny

In [8]:
print(g.mean())

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [9]:
print(g.describe())

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

<a id="concat"></a>
## Concatenate data frames

In [10]:
india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})

In [11]:
#concate two dataframes
df = pd.concat([india_weather, us_weather])
print(df)

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [12]:
#if you want continuous index
df = pd.concat([india_weather, us_weather], ignore_index=True)
print(df)

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

In [13]:
df = pd.concat([india_weather, us_weather],axis=1)
print(df)

       city  temperature  humidity      city  temperature  humidity
0    mumbai           32        80  new york           21        68
1     delhi           45        60   chicago           14        65
2  banglore           30        78   orlando           35        75

<a id="merge"></a>
## Merge data frames

In [14]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore", 'hyderabad'],
    "temperature": [32,45,30,40]
})
humidity_df = pd.DataFrame({
    "city": ["delhi","mumbai","banglore"],
    "humidity": [68, 65, 75]
})

In [15]:
#merge two dataframes with out explicitly mention index
df = pd.merge(temperature_df, humidity_df, on='city')
print(df)

       city  temperature  humidity
0    mumbai           32        65
1     delhi           45        68
2  banglore           30        75

In [16]:
#OUTER-JOIN
df = pd.merge(temperature_df, humidity_df, on='city', how='outer')
print(df)

        city  temperature  humidity
0     mumbai           32      65.0
1      delhi           45      68.0
2   banglore           30      75.0
3  hyderabad           40       NaN

<a id="index"></a>
## Numerical indexing (loc vs iloc)
loc  - custom index else row index <br>
iloc - row index

In [17]:
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, 1, 2, 3, 4, 5])
print(df)

     0
49   1
48   2
47   3
46   4
45   5
1    6
2    7
3    8
4    9
5   19

In [18]:
print(df.loc[:2])

    0
49  1
48  2
47  3
46  4
45  5
1   6
2   7

In [19]:
print(df.iloc[:2])

    0
49  1
48  2

In [20]:
print(df.loc[45])

0    5
Name: 45, dtype: int64

In [21]:
print(df.iloc[45])

IndexError: single positional indexer is out-of-bounds